# Fichiers binaires Java
*.class

 

# Fichiers générés par le compilateur
*.hprof

 

# Paquets
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

 

# Fichiers temporaires
*.swp
*.swo
*~

 

# Fichiers système
.DS_Store

 

# Fichiers de build et de système
bin/
target/
out/
build/
dist/
.gradle/

 

# Fichiers de logs
*.log

 

# Fichiers IDE Eclipse spécifiques
.classpath
.project
.settings/
.factorypath
META-INF/MANIFEST.MF


 

# Fichiers IDE généraux
*.iml
.idea/
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
META-INF/context.xml

 

# Autres fichiers
*.properties
*.bak
*.sw?
*~

 

# Fichiers générés par Eclipse Checkstyle
checkstyle.xml

 

# Fichiers générés par les tests
test-output/
